#container {
  background-color: #FFFAFA;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#header {
  background-color: black;
  color: white;
  text-align: center;
}

#header h1 {
  margin: 0;
}

footer {
  background-color: black;
  color: white;
  text-align: right;
}

footer p {
  margin-top: 0;
}

nav {
    background-color: #A9A9A9;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
nav a.links {
    float: right;
    color: #f2f2f2;
    text-align: center;
    color: black;
    padding: 12px 24px 12px 26px;
    text-decoration: none;
    font-size: 17px;

}

/* Change the color of links on hover */
nav a.links:hover {
    background-color: #ddd;
    color: black;
}

#content {
  clear: both;
  background-color: #DCDCDC;
}

#content h2 {
  margin-top: 0;
}

#content p {
  margin-bottom: 0;
}
